// Define variables for your color scheme


//Primary color palette
$highlight-1: #7E27C4;
$highlight-2: #FFA024;
$highlight-3: #D31E9C;

$positive: #1ED346;
$negative: #FF3924;

//Greyscale
$white: #FFFFFF;
$grey-1: #F2F2F2;
$grey-2: #D9D9D9;
$grey-3: #BFBFBF;
$grey-4: #A6A6A6;
$grey-5: #7F7F7F;
$grey-6: #595959;
$grey-7: #2C2C2C;

//Secondary color palette
$purple-1: #F6ECFF;
$purple-2: #E5D4F3;
$purple-3: #CBA9E7;
$purple-4: #5D1D91;
$orange-1: #FFF1E0;
$orange-2: #FFE2BD;
$orange-3: #FFCF91;
$orange-4: #A6691A;
