<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6 mr-0">
      <div class="container">
        <div class="banner-index"></div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6 d-flex align-items-center ml-0">
      <div class="container">
        <h1 class="mb-3" style="font-size: 90px; font-weight: 800;"><span style="color: #5D1D91;">Find a </strong></span><strong style="color: #7E27C4;">friend</strong></h1>
      </div>
    </div>
  </div>
</div>


<div class="row align-items-center mt-4">
<div class="form" style="margin: 0 auto;">
    <div class="container" style="border-color: black">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle bg-white" style="color: black !important; border: none;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Best Match</a>
          <a class="dropdown-item" href="#">Gender</a>
          <a class="dropdown-item" href="#">Interests</a>
          <a class="dropdown-item" href="#">Online</a>
          <a class="dropdown-item" href="#">Nearby</a>
        </div>
          <%= link_to "Advanced Search", "", class: "button-purple"%>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <% @users.each do |user| %>
    <%= render 'shared/gbordercard', user: user %>
  <% end %>
</div>
