<div class="container-fluid">

    <div class="row">
        <div class="col-4 d-flex justify-content-center mt-5" style="height: 800px;">
           <div>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "avatar avatar-large", alt: "avatar" %>
            <p style="text-align: center; font-weight:bold;" class="mt-3"> Iza, <span style="font-weight:normal" >20</span></p>
           </div>     
           
        </div>

        <div class="col-8" style="background-color: orange">
           <p>something here</p>
        </div>

    </div>
</div>
