<div class="c-container">
  <div class="c-box">
    <div class="c-content">
      <h2>01</h2>
      <h3><%= user.name %></h3>
      <p><%= user.description %></p>
      <a href="#">Button</a>
    </div>
  </div>
</div>
