<div class="my-5" style="position:relative;">
<h6 class="o-2 my-4">INTERESTS</h6>                
    <ul class="grey-box">
        <% @interests.each do |interest|%>
        <li class="grey-box-list">
        <%= interest %>
        </li>                
        <% end %>                 
    </ul>
</div>