<ul class="purple-box">
   <% interests.each do |interest|%>
      <li class="purple-box-list mb-5" style="line-height:75px;">
         <%= interest %>
      </li>                
   <% end %>                 
</ul>