   <div class="c-container" style="text-decoration: none;">
    <div class="c-box" style="height: 400px;"> 
      <div class="c-content">
        <div class="shadow rounded" id="map"
          style="width: 100%; height: 350px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
  

