<div class="special-card">
   <div class="rank">1</div>
      <div class="front">
        <%= image_tag = 'https://source.unsplash.com/random/200x200'%>
      <h3 class="name">Name</h3>
      <div class="outer-stats">
        <div class="outer-info">4 Star</div>
        <div class="outer-info">Review</div>
      </div>
    </div>
    <div class="back">
      <div class="inner-info">
          <p class="inner-stat">Text1</p>
          <p class="inner-stat">Text2</p>
      </div>
      <div class="btn btn-outline-primary d-flex justify-content-center">
        Delete
      </div>
    </div>
  <div class="background-card"></div>
</div>
