<div class="banner-home d-flex justify-content-center">

  <div class="container-banner">
    <div class="row">
      <div class="col-12 ">
        <div class="container" style="margin-right: 250px">
          <h1 class="mb-3" style="font-size: 90px; font-weight: 800;"><strong>BuddyLingua</strong></h1>
          <p class="mb-3" style="font-size: 50px; font-weight: 400;">Meet a buddy, learn a language.</p>
          <br>
          <% if @user %>
          <p><%= link_to "GET STARTED", user_path(@user), class: "button-purple-banner"%></p>
          <% else %>
          <p><%= link_to "GET STARTED", new_user_session_path, class: "button-purple-banner"%></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
