<div class="banner-home d-flex justify-content-center">

  <div class="container-banner">
    <div class="row">
      <div class="col-12 ">
        <div class="container" style="margin-right: 350px">
          <h1 class="mb-3" style="font-size: 90px; font-weight: 800;"><strong>BuddyLingua</strong></h1>
          <p class="mb-3" style="font-size: 50px; font-weight: 400;">Meet a buddy, learn a language.</p>
          <br>
          <% if @user %>
          <p><%= link_to "GET STARTED", user_path(@user), class: "button-purple-banner"%></p>
          <% else %>
          <p><%= link_to "GET STARTED", new_user_session_path, class: "button-purple-banner"%></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- newsletter -->
<div class="p-5" style="background-color: #7E27C4;">
  <div class="text-center padded" id="newsletter">
    <h2 class="text-white mb-3" style="font-weight: 500; font-size: 40px;">Get news from us</h2>
    <p class="text-white" style="font-weight: 300; font-size: 20px;">Sign up for pur weekly newsletter to get the latest news,<br>updates and amazing offers delivered directly to you inbox</p>
    <br>
    <form class="form-inline d-flex justify-content-center">
      <input type="email" placeholder="mynamel@gmail.com" class="form-control mr-1 text-center"  style="font-size: 20px;">
      <input type="submit" value="Subscribe" class="ml-1 button-rect-orange" style="font-size: 20px;">
    </form>
  </div>
</div>

