.background-index {
  background-image: image-url("bubble-group-2.svg");
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  z-index: -1;
}