.grey-box {
    list-style-type: none;
    margin-left: -40px;
}

.grey-box-list {
    background-color: $grey-1; 
    display: inline;
    margin-right: 15px;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 500;
}

.edit-icon {
    position: absolute;
    top: 0;
    right:-100px;
    color: $grey-2;
    font-size: 24px;
    opacity: 0.75;
}

.green-bold {
    color: $positive;
    font-weight: bold; 
    letter-spacing: 1px;
    border-bottom: 3px solid $positive;
}