.icon-learn {
  background-image: image-url("learn.svg");
  background-size: cover;
  height: 122px;
  width: 122px;
  margin: 30px;
  margin: 30px 30px 17px 30px;
  padding:10px;
}

.icon-people {
  background-image: image-url("people.svg");
  background-size: cover;
  height: 122px;
  width: 122px;
  margin: 30px 30px 17px 30px;
}

.icon-chat {
  background-image: image-url("chat.svg");
  background-size: cover;
  height: 122px;
  width: 122px;
  margin: 30px;
  margin: 30px 30px 17px 30px;
}
