.logo-navbar {
  background-image: image-url("logo.png");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center;
}
