.logo-purple {
  background-image: image-url("logo-home-page.svg");
  height: 104px;
  width: 104px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  margin-bottom: 20px;
  margin-right: 40px;
  position: absolute;
  left: 597px;
  top: -10px;
}
