.navbar-lewagon {
  justify-content: space-between;
  background: rgb(203,169,231);
  background: linear-gradient(75deg, rgba(203,169,231,1) 0%, rgba(126,39,196,1) 40%);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}