#remote-video {
  position: relative;
  border-radius: 12px;
  border: 9px solid #7E27C4;
  box-shadow: 3px 3px 2px 0px rgba(194, 121, 253, 0.2);
  display: none;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  min-height: 480px;
}

#remote-video.connected {
  h1 {
    display: none;
  }
  #local-video {
    display: block;
  }
}

#remote-video.waiting {
  h1 {
    display: block;
    text-align: center;
    color: #CBA9E7;
  }
  video {
    display:none;
  }
  #local-video {
    display: none;
  }
}

#remote-video video {
  max-width: 640px !important;
}

#local-video {
  position: absolute;
  bottom: 0;
  right: 0;
}

#local-video, #local-video video {
  width: 200px;
  max-width: 200px;
}

.video-button {
  cursor: pointer;
}
