.video-styling {
  min-width: 640px;
  max-height: 640px;
  min-height: 480px;
  max-height: 480px;
  border-radius: 12px;
  border: 9px solid rgb(209, 209, 209);
  margin-bottom: 30px;
  display: none;
}
