.background-index {
  background-image: image-url("bubble-group.svg");
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 495px;
  margin-top: 40px;
}